%h1
  Editar disciplina do curso
  =@curso.nome
= form_for (@disciplina) do |f|
  %p
    =f.label :nome
    %br
    =f.text_field :nome
  %p
    =f.label "Descrição"
    %br
    =f.text_area :desc
  %p
    =f.submit "Salvar"
      
    
