%h1
    Materiais de
    =@disciplina.nome 
    do curso de 
    =@disciplina.curso.nome
.row
    .col-sm-8.disciplinas
        =render @disciplina.materials
    .col-sm.disciplina
        =render @disciplina
