.comentario
    %p.comentario-dados
        =comentario.user.nome
        @
        =time_ago_in_words comentario.created_at
        ago
        |
        = pluralize(0, 'ponto')
    %p
        =comentario.conteudo
        .vote
            %a.up{:id => "comentario/#{comentario.id}/upvote"}(href="javascript:void(0);")
                =octicon "arrow-up", height: 26
            %a.down{:id => "comentario/#{comentario.id}/downvote"}(href="javascript:void(0);")
                =octicon "arrow-down", height: 26    
    =link_to 'excluir', comentario, method: :delete, data: { confirm: "Tem certeza?" } if current_user == comentario.user
    