%h1
  Editar
  =@curso.nome
=form_for (@curso) do |f|
  %p
    =f.label :nome
    %br
    =f.text_field :nome
  %p
    =f.label "Descrição"
    %br
    =f.text_area :desc
  %p
    =f.submit "Salvar"
  
