%h1 
    Disciplinas do curso
    = @curso.nome
    -# - if admin_signed_in?
    -#         %p= link_to 'Nova disciplina', new_curso_disciplina_path(@curso)
.row
    .col-sm-8.disciplinas
        =render @disciplinas
    .col-sm-4.curso
        =render @curso
