/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "comentarios.scss";
 @import "cursos.scss";
 @import "disciplinas.scss";
 @import "materials.scss";
 @import "static_pages.scss";

 $gray-medium-light: #eaeaea;

body {
    padding-top: 60px;
    background-color: lightgray;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      color: white;
      text-decoration: none;
    }
}

.vote{
  border: 1px solid black;
  position: absolute; 
  bottom: 2px;
  right: 2px;
  padding: 0px;
  border-radius: 6px;

  .up{
     border-right: 1px solid black;
     float: left;
  }
  .down{
     border-left: 1px solid black;
     float: right;
  }
}

.usuario {
    color: white;
    padding: 15px;
}

.meu_voto, .meu_voto_com {
    color: #666;
    font-size: small;
}

.notice, .alert, .busca {
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.busca input {
    vertical-align: text-bottom;
}

.busca input#q {
    width: 40%;
}