// Place all the styles related to the disciplinas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.disciplina-feed{
    border: 1px solid gray;
    margin: 20px;
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 6px;

    h2{
        // border: 1px solid $gray-lighter;
        margin-top: 0px;
        a{
            color: black;
        }
    }
}

.disciplina-dados{
    color: darkgray;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}