// Place all the styles related to the materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.materiais{
    // border: 1px solid $gray-lighter;
}

.material-feed{
    border-bottom: 1px solid $gray-lighter;
    margin: 20px;
    position: relative;

    h2{
        // border: 1px solid $gray-lighter;
        margin-top: 0px;
    }

    .material-dados{
        color: darkgray;
        font-size: 12px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}
.material-show{

}

.comentarios{
    
}

.fav-button{
    // border: 1px solid $gray-lighter;
    position: absolute; 
    top: 0px;
    right:0px;
    padding: 0px;
}

.vote{
     border: 1px solid $gray-lighter;
     position: absolute; 
     bottom: 0px;
     right: 0px;
     padding: 0px;

     .up{
        border: 1px solid black;
        float: left;
     }
     .down{
        border: 1px solid black;
        float: right;
     }
}

.bookmark-saved{
    background-color: gold;
}

.octicon{
    margin: 0px;
}