// Place all the styles related to the materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.materiais{
    // border: 1px solid $gray-lighter;
}
.material-pais{
    color: black;
    a{
        color:black;
    }
    font-weight: bold;
}

.material-dados{
    color: darkgray!important;
    font-size: 12px!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}

.material{
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    position: relative;
}

.material-content{
   margin-bottom: 20px;
   position: relative;
}

.comentarios{
    
}

.btn-comment{
    // position: absolute;
    // right: 0px;
}

.material-bottom{
    color: darkgray;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}
