// Place all the styles related to the materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.materiais{
    // border: 1px solid $gray-lighter;
}

.material-feed{
    border: 1px solid gray;
    margin: 20px;
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 6px;

    h2{
        // border: 1px solid $gray-lighter;
        margin-top: 0px;
        a{
            color: black;
        }
    }

    .fav-button{
        // border: 1px solid $gray-lighter;
        position: absolute; 
        top: 2px;
        right:2px;
        padding: 0px;
    }
    
    
    .bookmark-saved{
        background-color: gold;
    }
    
    .octicon{
        margin: 0px;
    }
}

.material-dados{
    color: darkgray;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.material-show{
    border: 1px solid $gray-lighter;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 10px;
    h2{
        margin-top: 0px;
    }
}

.material{
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 5px;
    position: relative;
}

.material-content{
   margin-bottom: 20px;
   position: relative;
}

.comentarios{
    
}

.btn-comment{
    // position: absolute;
    // right: 0px;
}

.material-bottom{
    color: darkgray;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}