%p
  Ol치, #{@email}!
- if @resource.try(:unconfirmed_email?)
  %p
    Estamos lhe contatando para notific치-lo de que seu e-mail est치 sendo mudado para #{@resource.unconfirmed_email}.
- else
  %p
    Estamos lhe contatando para notific치-lo de que seu e-mail mudou para #{@resource.email}.
