.material-feed
    .material-dados.material-dados-top
        %p
            %span.material-pais
                =link_to material.disciplina.curso.nome, material.disciplina.curso
                \/
                =link_to material.disciplina.nome, material.disciplina
            \-Enviado por  
            =material.user.nome 
            =time_ago_in_words material.created_at
            ago
    .material-nome
        %h3
            =link_to material.nome, material
    .material-conteudo
        =formata_conteudo(material.conteudo)
    .row.justify-content-start.material-dados.interacao
        =render 'materials/interacao', material: material
