.material-feed
    %p.material-dados.material-dados-top
        Enviado por: 
        =material.user.nome 
        =time_ago_in_words material.created_at
        ago
    %h2=link_to material.nome, material
    %p.material-conteudo= material.conteudo
    %p.material-dados
        =render 'materials/interacao', material: material
