%h1
  Criar novo material para a disciplina
  =@disciplina.nome
= form_for ([@material.disciplina, @material]) do |f|
  %p
    =f.label :nome
    %br
    =f.text_field :nome
  %p
    =f.label "Conteúdo"
    %br
    =f.text_area :conteudo
  %p
    =f.label :link
    %br
    =f.text_field :link
  %p
    =f.submit "Salvar"
      
    
