-content_for :comentarios  do
    .comentario-editor
        
    -render @comentarios


.row
    .col-sm-8
        =render @material
    .col-sm-4
        .content-box.no-padding
            %h1 OPORA

