.row
    .material-show.col-sm-8
        .material
            %p.material-dados.material-dados-top
                Enviado por: 
                =@material.user.nome 
                =time_ago_in_words @material.created_at
                ago
            %h2= @material.nome
            %p=@material.conteudo

        .comentarios
            %h4
                Comentários nessa publicação:
            =render @comentarios

            %h5 Comentar:

            =form_for(:comentario, url: material_comentarios_path(@material)) do |f|
                =f.text_area :conteudo
                %br
                =f.submit "Salvar"
