%h1= @material.nome
%p=@material.conteudo

%p
    Autor da publicação:
    =@autor.nome 

%h4
    Comentários nessa publicação:

%ul
    =render @comentarios

%h5 Comentar:

=form_for(:comentario, url: material_comentarios_path(@material)) do |f|
    =f.text_area :conteudo
    %br
    =f.submit "Salvar"
